---
import Header from "../components/header.astro";
import Layout from "../layouts/Layout.astro";
import Image from "../components/image.astro";
---

<Layout title="Welcome to Astro.">
  <Header />

  <main>
    <h1>Crear tareas y ausencias</h1>
    <h2>Crear tarea</h2>
    <Image
      src="../create-task1.png"
      title="En la p치gina de tareas y ausencias pulse en CREAR TAREA"
    />
    <Image
      src="../create-task2.png"
      title="Rellene todo el formulario"
      anotation="Si es admin o responsable le saldr치 paa elegir a m치s usuario por si quiere crear tareas para otros usuarios"
    />
    <h2>Crear ausencia</h2>
    <Image
      src="../delete-absence.png"
      title="En la p치gina de tareas y ausencias pulse en CREAR AUSENCIA"
    />
  <Image
      src="../create-absence2.png"
      title="Rellene todo el formulario"
    />
  </main>
</Layout>
<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
  }
  h1,h2 {
    text-align: center;
  }

</style>
