---
import Header from "../components/header.astro";
import Layout from "../layouts/Layout.astro";
import Image from "../components/image.astro";
---

<Layout title="Welcome to Astro.">
  <Header />

  <main>
    <h1>Unirse a familia</h1>
    <Image
      src="/diminute-calendar.png"
      title="Abajo puede ver el calendario, junto con el calendario aparecerán tareas"
      alt="mini calendario"
    />
  </main>
</Layout>
<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
  }
  h1 {
    text-align: center;
  }
</style>
