---
import Header from "../components/header.astro";
import Layout from "../layouts/Layout.astro";
import Image from "../components/image.astro";
---

<Layout title="Welcome to Astro.">
  <Header />

  <main>
    <h1>Ver familia</h1>
    <Image
      src="/main-calendar1.png"
      title="Clique en el calendario "
      alt="expliacicón de calendario grande 1"
    />
    <Image
      src="/main-calendar2.png"
      title="Puede ver el calendario tambien puede cambiar a una vista semanal"
      alt="explicación uniser a familia 2"
    />
    <Image
      src="/agenda.png"
      title="Para visualizar las tareas en formato agenda"
      alt="explicación uniser a familia 2"
    />
  </main>
</Layout>
<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
  }
  h1 {
    text-align: center;
  }
</style>
