<header class="page-header">
  <ul>
    <li><a href="see-family">ver todas las familias</a></li>
    <li><a href="join-family">Uniser a familia</a></li>
    <li><a href="create-family">Ver calendario</a></li>
    <li><a href="diminute-calendar">Ver calendario pequeño</a></li>
    <li><a href="main-calendar">Calendario principal</a></li>
    <li><a href="coworkers">Ver compañeros de grupo</a></li>
    <li><a href="task-absence">Ver tareas y ausencias</a></li>
    <li><a href="update-task-absence">Actualizar tareas/Ausencias</a></li>
    <li><a href="delete-task-absence">eliminar tareas/Ausencias</a></li>
    <li><a href="create-task-absence">crear tareas/Ausencias</a></li>
  </ul>
</header>
<style>
  .page-header {
    background-color: aliceblue;
    grid-column: 1 / 2;
    grid-row: 1 /-1;
  }
  .page-header > ul {
    margin: 0;
    padding: 0;
    overflow: auto;
    list-style: none;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100dvh;
  }
  .page-header > ul > li {
  
    text-align: center;
    width: 100%;
  }
  .page-header > ul > li:nth-child(2n) {
    background-color: lightgray;
  }
  .page-header > ul li a {
    padding: 1em 0em;
    display: block;
    color: black;
    font-style: none;
    text-decoration: none;
  }
  .page-header > ul li a:hover {
    color: lightcoral;
  }
</style>
